html,
body{
  height: 100%;
}

h1,h2,h3{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

h4,h5,h6{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

p,span,a, .main-nav a{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
