.navbar-fixed{
  position: fixed;
  z-index: 1080;
  width: 100%;
}

.front-page{
  .navbar-fixed{
    background-color:rgba(255,255,255,0.0);
    .navbar-nav a{
      color: $bates_white_stone;
    }
  }
}
